* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background: #fefefe;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
}

.game-title {
  margin: 32px 0px;
  text-align: center;
}

.option-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  margin: auto;
  width: 640px;
}

.option-section--computer {
  display: flex;
  justify-content: center;
}

.option__item {
  align-items: center;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 175px;
  justify-content: center;
  transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
  width: 175px;
}

.option__item img {
  max-width: 75px;
}

.option__item:hover,
.option__item--selected {
  border-color: transparent;
  box-shadow: 0 3px 32px 0 rgba(10, 31, 68, 0.1),
    0 0 1px 0 rgba(10, 31, 68, 0.08);
  transform: scale(1.2);
}

.option__item--loading {
  border-color: transparent;
  box-shadow: 0 3px 32px 0 rgba(10, 31, 68, 0.1),
    0 0 1px 0 rgba(10, 31, 68, 0.08);
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.option__item--disabled {
  opacity: 0.75;
}
